[2021-05-27 13:01] skleinfeldt opened #1 "Inner Page HTML/CSS"
As a stakeholder I can review an HTML/CSS mockup of an inner page, so that I can approve of the design. As a developer I can use it as the basis of the Diazo theme.

[2021-05-27 13:02] skleinfeldt opened #2 "Inner Office Page HTML/CSS Mockup"
As a stakeholder I can review an HTML/CSS mockup of an inner page for an office, so that I can approve of the design. As a developer I can use it as the basis of the Diazo theme.

This mockup may not be needed because it should be identical to a normal inner page mockup aside from the different header treatment which is handled in another story.

[2021-05-27 13:03] skleinfeldt opened #3 "Theme Package: 5 pts"
As a developer I will have a repository and site set up to use a standard Plone Diazo theme.

Tasks:

* [x] Branch theme to turn it into an installable python package.
* [x] Update buildout.cfg to retrieve and install theme.
* [x] Add base barceloneta `less` files to theme and enable grunt compilation in buildout.
* [x] Create README to describe installation for local development and deployments.

[2021-05-27 13:04] skleinfeldt opened #4 "Lead Images"
As a content editor I will be able to add lead images to Pages, Folders, and Links. (And perhaps also Events?)

[2021-05-27 13:05] skleinfeldt opened #5 "Add-on Configuration"
As a content editor I will be able to use plone.app.imagecropping to crop Images and lead images, and I will be able to use Mosaic to create tiled layouts.

[2021-05-27 13:06] skleinfeldt opened #6 "Basic Styling"
As a stakeholder I can review the styling of the Plone template that renders all styles, so that I can approve of the styles.

[2021-05-27 13:06] skleinfeldt opened #7 "Header"
As a user I can see a themed header throughout the site, with the main nav based on the top level folder structure. (This story covers the top 2 bands and stops at the hero image.)

[2021-05-27 13:07] skleinfeldt opened #8 "Footer"
As a user I can see a themed footer throughout the site, which is based on the site's footer portlets. As an editor I can change the content of the footer by editing the footer portlets. The bottom-most footer information (logo, Site Map, Accessibility etc.) can be hardcoded in the theme. Copyright year should be updated automatically.

[2021-05-27 13:11] skleinfeldt opened #9 "Office Nav"
As a user I can see a horizontal blue nav bar for the office when I am on any page within the office, between the page title and breadcrumbs. The contents of the nav bar will be left justified and based on the contents of the office folder (standard Plone navigation behavior).

Question: in the mockup this text disappears at smaller sizes, how is the user to navigate?

[2021-05-27 13:14] skleinfeldt opened #10 "Audience Specific Office Links"
As a user I can see a set of important office links appropriate to various audiences prominently displayed on the office landing page. This may be in the horizontal blue office nav bar (#9), right justified, or it may be somewhere else on the landing page.

As a content editor I can define this set of links - how? This needs discussion.

[2021-05-27 13:16] skleinfeldt opened #11 "Hero Images - Outside Offices"
As a user I can see a full bleed hero image between the main nav and page contents. As an editor I can upload a lead image to any page on the site.

If a page does not have a lead image what should happen?

[2021-05-27 13:18] skleinfeldt opened #12 "Hero Images - Inside Offices"
As a user I can see the same full bleed hero image between the main nav and page content for every page within an office. As an editor I can upload a hero image to be used for the office (on the office content type or the office folder or in some other special TBD location).

[2021-05-27 13:41] skleinfeldt opened #13 "Office Content Type"
As a content editor I will be able to enter standard information for each office in a Dexterity content type with the following fields:
- Hero image (used on the Office home page and subpages)
- Tile lead image (used on the site home page tile) ***
- Facebook url
- Twitter url
- Instagram url
- YouTube url
- LinkedIn url

*** Alternatively we could use a different crop of the hero image for this,

[2021-05-27 13:43] skleinfeldt opened #14 "Office Content Type View: 8 pts"
As a user visiting an office's landing page I will see a consistent layout between offices, with standard office information displayed in the same way.

Pointed to reflect duplicating the mockup.

[2021-05-27 13:45] skleinfeldt opened #15 "Non-Office Title Style"
As a user I can see the page title overlaid on the bottom of the lead image with a semi-opaque background, for inner pages that are not part of offices.

[2021-05-27 13:45] skleinfeldt opened #16 "Office Title Style"
As a user I can see the office title overlaid on the bottom of the lead image with a semi-opaque background, and the page title below the breadcrumbs, for inner pages that are part of offices. For the office landing page no title is shown below the breadcrumbs.

[2021-05-27 13:46] skleinfeldt opened #17 "Static Text Portlet Style"
As a user I can see static text in the right sidebar portlet content area themed appropriately throughout the site.

[2021-05-27 13:48] skleinfeldt opened #18 "Navigation Portlet Style"
As a user I can see navigation (where needed) in the top right sidebar portlet content area themed appropriately throughout the site. (Does not include homepage or office landing pages.)

[2021-05-27 13:49] skleinfeldt opened #19 "Collection Portlet Style"
As a user I can see the top x items in a Collection in the right sidebar portlet content area themed appropriately throughout the site. (Does not include homepage or office landing pages.)

Not clear at this time where this will be used so this may be lower priority.

[2021-05-27 13:50] skleinfeldt opened #20 "Event Style"
As a user I can see any events on the site themed appropriately.

We will need design guidance for this.

[2021-05-27 13:51] skleinfeldt opened #21 "Alert Banner"
As a content editor I can show or hide an alert banner that shows at the top of every page on the site, and edit its content (like the Coronavirus banner on the mockups).

[2021-05-27 13:56] skleinfeldt opened #22 "Folder Summary View"
As a user I can see the contents of a folder displayed in "Summary View" using title and text styles consistent with the rest of the site.

This story is about styling the existing Plone Summary View. If it is decided that all content on the site will have lead images, and the lead images should be shown in a custom summary view, then another story should be added.

[2021-05-27 13:58] skleinfeldt opened #23 "Search"
As a user I can issue a query from the search box in the header and see results styled similarly to the Folder Summary View (#22). The search choices (search PSU, search Google, etc.) shown on the current site are not needed.

[2021-05-27 13:59] skleinfeldt opened #24 "Add Path to Search Results"
As a user I can see where in the site each item in search results is located. The path will be styled similar to the site breadcrumbs and will be between the title and summary.

[2021-05-27 14:05] skleinfeldt opened #25 "Image Crops"
As a content editor I can create crops of images appropriate to the site design for all images and lead images on the site. Available crops will be:
- Hero (for use at the top of pages)
- Tile (for use in Mosaic Content Tiles)
- Square (for use in static text portlets and in pages - often used for head shots).

Note that if other crop sizes are required in the future, PSU staff will be able to add

[2021-05-27 14:08] skleinfeldt opened #26 "Mosaic Grid"
As a user I can see landing pages with a variety of tiled designs. As a content editor I can lay out a Mosaic page based on a 3 column grid, with appropriate margins.

Mosaic training is available at https://training.plone.org/5/ttw/mosaic.html.

[2021-05-27 14:09] skleinfeldt opened #27 "Mosaic Bell Tile"
As a user I can see a highly noticeable tile with a light blue or red background, a bell image floated left and text next to the bell. As a content editor I can choose the color and enter rich text for the tile.

Note that we will need the SVG for the bell.

[2021-05-27 14:11] skleinfeldt opened #28 "Mosaic Content Tile: 2 pts"
As a user I can see a tile with a full-bleed image at the top, followed by title and summary on white, and a thin black line around it, as shown at the bottom of the homepage mockup. The title is a link to a content item on the site. These tiles will resize at smaller screen sizes and the images will be dropped at the smallest screen sizes. (See mockup for responsive behavior.)

As an editor I can

[2021-05-27 14:14] skleinfeldt opened #29 "Mosaic Collection Mega Tile"
As a user I can see a collection of top news stories (or other content) on an office landing page, laid out so they look like individual Mosaic Content Tiles (#28). As an editor I can create one of these tiles by choosing an existing Collection of items all of which have lead images. The items in the collection will resize at smaller screen sizes and the images will be dropped at the smallest scre

[2021-05-27 14:17] skleinfeldt opened #30 "Mosaic Disappearing Right Column Tile"
As a user on a desktop device I will see a right column on office landing pages with supplemental information on a grey background. As a user on a mobile device I will not see that column. (See mockup for styling and responsive behavior.

As an editor I can create a tile that spans multiple rows (?) and will be dropped at smaller screen sizes.

[2021-05-27 19:23] alecpm commented on #14
Sample: https://beta.equity.psu.edu/a51/develop/office-home.html

[2021-05-27 19:31] skleinfeldt commented on #28
Implementation will be jazkarta.tesserae - see doaks.org for examples

[2021-05-27 19:34] skleinfeldt commented on #27
Will use fontawesome for icons etc.

[2021-05-27 19:54] skleinfeldt commented on #1
Image mockup:
![content-page-layout-admin](https://user-images.githubusercontent.com/1198463/119888777-c96b6d80-bf03-11eb-9f1f-d34be71c7594.jpg)

[2021-05-27 20:15] skleinfeldt commented on #2
The earlier jpg mockup.

![office-content-page-layout](https://user-images.githubusercontent.com/1198463/119891276-c58d1a80-bf06-11eb-9d68-e0afb2d8e00e.jpg)

[2021-06-01 18:11] skleinfeldt commented on #15
For non-office pages:

![ee-second-tier-page-layout-05-28-2021](https://user-images.githubusercontent.com/1198463/120370994-3b1c3080-c2e3-11eb-99c5-948249a1cfc5.jpg)

[2021-06-01 18:12] skleinfeldt commented on #15
For office inner pages:

![office-content-page-layout](https://user-images.githubusercontent.com/1198463/120371071-5129f100-c2e3-11eb-8689-ea500101852f.jpg)

[2021-06-01 18:21] skleinfeldt commented on #9
For office landing pages see https://beta.equity.psu.edu/a51/develop/office-home.html (just the links on the left side.)

For office inner pages here is the older mockup:

![office-content-page-layout](https://user-images.githubusercontent.com/1198463/120371952-94389400-c2e4-11eb-9623-e09cc888eb0e.jpg)

[2021-06-01 18:33] skleinfeldt commented on #16
Closing, this is covered by #15 and #9,

[2021-06-01 18:33] #16 closed

[2021-06-01 19:26] MBrahosky commented on #1
![ee-second-tier-page-layout-05-28-2021](https://user-images.githubusercontent.com/7536857/120378777-da91f100-c2ec-11eb-828d-91ddf36a3e1c.jpg)

[2021-06-02 04:44] alecpm commented on #3
@witekdev @silviot I've made a branch [`story/3-theme-package`](https://github.com/PSUEducationalEquity/plonetheme.eeq/tree/story/3-theme-package) which provides a python package. For now, let's make feature branches from this branch, since I'm not sure when we will merge to master. The [`DEVELOP.rst`](https://github.com/PSUEducationalEquity/plonetheme.eeq/blob/story/3-theme-package/DEVELOP.rst) s

[2021-06-02 07:15] alecpm commented on #4
I think this should just be a matter of updating the install profile to add the `plone.leadimage` behavior from plone.app.contenttypes to these types.

[2021-06-02 07:19] alecpm commented on #25
Since this requires plone.app.imagecropping, this work should probably be based on the `story/5-addons` branch which includes/installs the add-on. It should be possible to set registry settings in the profile to configure auto-cropping, croppable scales, and use the typeinfo profile step to add the croppable behavior to types that have images/leadimages.

[2021-06-02 07:19] alecpm commented on #5
There are some issues with step ordering in the tesserae install profile that's preventing it from being installed, but there's a branch that implements this `story/5-addons`.

[2021-06-02 11:32] MBrahosky commented on #25
Image crops attached:
![hero-image-crop](https://user-images.githubusercontent.com/7536857/120473065-9ea26e80-c374-11eb-840e-98663a2ac4d1.png)
![tile-image-crop](https://user-images.githubusercontent.com/7536857/120473078-a19d5f00-c374-11eb-94f3-e5da30f6583f.png)
![square-image-crop](https://user-images.githubusercontent.com/7536857/120473084-a3ffb900-c374-11eb-8860-ab66383f19ad.png)

[2021-06-02 14:26] witekdev commented on #4
In ``` story/4-lead-images ``` which forks off ``` story/5-addons ```.

Looks like one has to manually enable the behavior on each content type via the @@dexterity-types panel

Specifically:
[code]

[2021-06-02 17:13] skleinfeldt commented on #13
Be sure to add these behaviors:
- lead image
- image cropping
- mosaic layout

[2021-06-02 18:10] witekdev commented on #25
@alecpm would you be able to have a look as to why my registry settings for cropping_for and constrain_cropping are not taking? Maybe its something thats obvious to you?
https://github.com/PSUEducationalEquity/plonetheme.eeq/commit/a698c0fa311661debb171c06629fcf8b575a8f28

Also looks like auto-cropping is not implemented at the moment?
https://github.com/collective/plone.app.imagecropping/blob/mas

[2021-06-02 18:13] witekdev commented on #25
@alecpm likewise Image cropping behavior is set for Document and Collection. I'm not sure for which other standard types it needs to be set for? If any?

[2021-06-02 18:21] alecpm commented on #25
Auto-cropping is enabled automatically when scales are constrained, IIRC so it's not yet settable.

The crop behavior should be enabled for all types that have lead images.

[2021-06-03 04:31] alecpm commented on #4
@witekdev Could you make PRs for these stories (with a base branch of `story/5-addons` though we won't merge it to that branch).

[2021-06-03 12:09] witekdev commented on #13
@alecpm can you point me to some documentation/examples of what needs to happen to set the mosaic layout?
Is that done programatically?
I added the ```      <element value="plone.app.blocks.layoutbehavior.ILayoutAware"/> ``` behavior, however I'm not sure if thats needed

[2021-06-03 16:00] alecpm commented on #13
@witekdev That's the main part, but there are a couple other things that are needed (i.e. a new `view_methods` entry) and the draftable behavior, an example:

https://github.com/plone/plone.app.mosaic/blob/master/src/plone/app/mosaic/profiles/default/types/Document.xml

[2021-06-04 15:54] alecpm commented on #7
@silviot I merged the branch as is because it's a big improvement, but this still needs a couple small things.

* The logo should like to the site base url
* The Report Bias and Give Now links should link to internal site pages (probably placeholder aliases like `$site_url//report-bias` and `$site_url//donate`)
* The Contact button should be linked to `$site_url/contact-info` with `class="pat-plon

[2021-06-04 15:55] witekdev commented on #13
Thanks!

[2021-06-04 16:02] alecpm commented on #8
Similar to the header, this needs a couple more things:

* The Site Map, Accessibility, ... links should be pulled from the site actions (with the contact link dropped since we're putting that into the header)
* The login button should pull in the #personaltools-login login tag.
* The footer portlet titles should probably come from the portlets, if possible, rather than being hardcoded.

[2021-06-04 16:52] alecpm commented on #26
This seems to be working well out of the box. I'm a bit surprised that the default mosaic layout on Plone 5.2 includes the portlet columns, but that's probably not a bad thing since they can easily be blocked as needed.

[2021-06-04 18:03] paulrentschler commented on #7
* The Report Bias link should point to an existing folder in the root with ID `report-bias`
* The Give Now link should point to an existing document in the root with ID `giving`

[2021-06-04 18:46] witekdev commented on #13
@alecpm I'm not seeing mosaic when editing the content type, I'm not sure if there is some step that's missing? :thinking:
Apart from that the content type is good to be deployed

[2021-06-07 16:11] paulrentschler commented on #6
Test render page indicates that the default fonts and content styling is based on Plone's Barceloneta styles rather than Bootstrap's styles. We would like to use Bootstrap's styles as the basis for the site styles.

[2021-06-07 16:14] paulrentschler commented on #26
The Properties button when editing a Mosaic laid out page results in a grayed screen and in theory, no modal dialog?

[2021-06-07 16:22] witekdev commented on #17
@MBrahosky @paulrentschler
Implemented. My local site looks like this:

![Screenshot from 2021-06-07 10-10-30](https://user-images.githubusercontent.com/883619/121055143-4b3d7f80-c7bd-11eb-96d8-15063d4965cb.png)

[2021-06-07 16:23] alecpm commented on #26
I noticed that, it's due to a missing JS transition that should fade-in the modal by setting the opacity to 1. I suspect it's related to bootstrap 4 replacing bootstrap 3 in the theme, we'll probably need to add an additional event handler to fix the transition on bootstrap 4.

[2021-06-07 16:23] witekdev commented on #18
@MBrahosky @paulrentschler
Implemented. My local site looks like this:

![Screenshot from 2021-06-07 10-10-52](https://user-images.githubusercontent.com/883619/121055374-7b851e00-c7bd-11eb-8f71-0a0f4c19e906.png)

![Screenshot from 2021-06-07 10-10-40](https://user-images.githubusercontent.com/883619/121055396-7fb13b80-c7bd-11eb-9a49-8f7d1bdc0e9c.png)

[2021-06-07 16:57] paulrentschler commented on #26
![mosaic-issue](https://user-images.githubusercontent.com/1778602/121059686-c0925b80-c78f-11eb-90f4-8b17c1c73aad.png)

Not sure this is an issue or not but the styling changes pretty drastically when mousing over an entry (about) and the arrow button becomes very light in color. I'm not sure if this was default Plone styling or if something changed with the theme.

[2021-06-08 23:51] alecpm commented on #6
@paulrentschler could you be more specific on this?

When I look at https://beta.equity.psu.edu/web/test_rendering in a web inspector most of the base styles seem to be coming from `_reboot.scss` which is from bootstrap (it's pulling in that reference from the bootstrap source map).

There are a few styles coming from `theme-complied.csss`, which includes parts of barceloneta (specifically toolbar

[2021-06-08 23:58] alecpm commented on #6
I think the source map issues should be resolved if you run `bin/develop up` and then make the `buildout.cfg` changes we discussed (removing the reference to `deploy.cfg`) and then run `bin/buildout -c deploy.cfg`, and restart the instances.

[2021-06-09 15:27] silviot commented on #8
Is it really worth it? In case the title of the portles are changed, they will no longer show up in the footer, since the rules locate the portlets one by one using a class derived from their name. Or maybe I'm missing something.

[2021-06-09 16:09] silviot commented on #8
@alecpm I pushed fixes to these issues to #41 together with the header fixes, since I needed `portal_url`.

I'm not sure about the problem with the color of the footer links. For me they are always white.

[2021-06-09 16:16] alecpm commented on #8
@silviot I should have updated my comment, at some point the links all went white for me so I must have had some temporary issue with my local theme install.

You're probably right that allowing TTW portlet header customization is probably not worthwhile in the first go at this given the selection process. I would have been inclined to select and place the the first 5 portlets in the manager rathe

[2021-06-09 16:42] silviot commented on #7
@MBrahosky @paulrentschler `master` now has fixes for the footer and the header.

[2021-06-09 17:34] paulrentschler commented on #22
The byline and "Read more..." link should be removed from the stock Plone Summary View.

[2021-06-09 19:43] skleinfeldt commented on #26
@silviot can you please look into this Javascript issue.

[2021-06-10 15:29] silviot commented on #7
The links that use `portal_url` are not working properly: _Contact_, _Report Bias_, _Give now_ do not include the `/web` part on https://beta.equity.psu.edu/web

[2021-06-10 15:41] silviot commented on #8
The links that use `portal_url` are not working properly: _Site Map_, _Accessibility_ and _Contact_ do not include the `/web` part on https://beta.equity.psu.edu/web

Also the login/logout button is not working.

[2021-06-11 13:25] paulrentschler commented on #8
@silviot I had to switch to another theme and then back to this theme in the Theming control panel and now the `portal_url` stuff is working as is the login/logout button.

[2021-06-11 14:12] silviot commented on #8
@paulrentschler great! Now that you mention it, I remembered I needed to do the same locally to make it work, but then I forgot to document this necessary step.
Thanks for finding the issue!

[2021-06-11 15:35] alecpm commented on #8
Yes, we need to be careful about deploying code with changes to the variables in `manifest.cfg`. It should be possible to make a registry (?) upgrade step for such changes.

[2021-06-11 17:30] paulrentschler commented on #13
Sorry this got missed in the initial requirements, but the content type should to be "folderish" to avoid having to live in a folder and be the default view (or is doing that preferred)?

[2021-06-11 17:32] paulrentschler commented on #7
The top navigation does not appear to be working right for small screen devices. When I click the hamburger button, the menu slides down and then instantly disappears. When I click it again, it appears and slides up.

[2021-06-11 18:09] alecpm commented on #13
@paulrentschler This should definitely be folderish. I think that was clear from our understanding of the office feature generally and the mockups, but I missed this in code review.

@witekdev could you update the content definition to use `Container` instead of `Item`? Also at this point I'm not sure we need a custom class at all, though I guess it doesn't hurt for the purposes of future proofing

[2021-06-12 01:39] alecpm commented on #7
I just pushed an update that includes a custom compile of the Plone JS bundle without bootstrap 3 JS components. Locally it appears to have fixed the mobile navigation issue.

You'll need to run buildout and restart the instances. There should be an upgrade step in the add-ons control panel, though I don't think it's necessary to see the fix, but you might need to clear your browser cache.

There

[2021-06-14 11:07] witekdev commented on #13
@paulrentschler sorry, I was not aware it needed to be folderish. This is now updated in master.

Prior to adding the new code to the site, it will be good to delete any existing office objects you have created.
I see only one inside https://beta.equity.psu.edu/web/offices/folder_contents

https://beta.equity.psu.edu/web/offices/penn-state-university

Locally I had an issue deleting my old Item ba

[2021-06-14 12:02] witekdev commented on #22
Implemented

[2021-06-14 13:48] witekdev commented on #15
Implemented. Front page and office landing page, retain their title size, the rest are hopefully more or less as the mockup looks:crossed_fingers:
On master

[2021-06-14 16:46] skleinfeldt commented on #21
Should capture publication and expiration date.

[2021-06-14 16:54] skleinfeldt commented on #23
HIde list numbers on results.

Hide sort by nav bar thing.

Keep number matched.

[2021-06-14 17:00] skleinfeldt commented on #24
Not needed - already there.

[2021-06-14 17:00] #24 closed

[2021-06-14 17:01] skleinfeldt commented on #20
Please add an event, take a screenshot, and annotate it how you want it fixed. Or make a mockup, but that will be more work potentially.

[2021-06-14 17:18] skleinfeldt commented on #7
@silviot the search button is misplaced on my desktop view, it's underneath the query box instead of to the side. Also it should be blue per https://beta.equity.psu.edu/a51/develop/office-home.html.

I'm on Firefox on MacOS.

[2021-06-15 16:16] silviot commented on #7
@paulrentschler The header buttons are now fixed in `master` and deployable.

[2021-06-15 19:23] paulrentschler commented on #15
The title and description styling looks great on pages like [About](https://beta.equity.psu.edu/web/about) and [News](https://beta.equity.psu.edu/web/news) but the title appears significantly smaller (even smaller than the H2) on other pages like [Offices](https://beta.equity.psu.edu/web/offices). This appears to be a custom CSS rule that was added for the offices section:
![image](https://user-im

[2021-06-15 19:25] paulrentschler commented on #22
The Folder Summary view looks good although we would like to **not** display the lead image if it is set and discuss adding a new story for a custom folder summary view that includes displaying images.

[2021-06-15 19:27] paulrentschler commented on #13
This all looks good but we would like to keep the issue open (but on hold) in the event that we need to change the content type as a result of the discussions we are having with the executives around hero images and the tile layout of the home page. If you prefer we can also close this issue and open a new one should changes need to be made.

[2021-06-15 19:31] paulrentschler commented on #6
I stand corrected, the styling is Bootstrap, not sure what I saw originally that had me thinking it was not. The only issue we have with the test_rendering page is that the "Headline H1" and "Headline H2" are the same font size. This appears to be because of a Plone CSS rule that is overriding a Bootstrap CSS rule. If we can undo the Plone CSS rule, then everything looks good.
![image](https://use

[2021-06-15 19:39] paulrentschler commented on #7
@silviot the header buttons look good now.

@alecpm the mobile hamburger menu is still not working right. I've deployed, restarted the clients, run all the upgrade steps, even toggled the theme to a different one and back. It is not working on Firefox, Chrome, and Edge on Windows 10 as well as Firefox, Chrome, and Safari on iPhone iOS.

[2021-06-15 19:42] paulrentschler commented on #18
Is it possible with Diazo rules to easily switch the order of parent and local portlets on the right side so that the "All In" portlet appears below the navigation portlet. I know we can block parent portlets and recreate the navigation portlet to achieve this, just wondering if the switch is easily done everywhere at once with Diazo. If it is not, then we will use the block parents/recreate metho

[2021-06-15 20:11] skleinfeldt commented on #18
Good question to ask in meeting tomorrow @paulrentschler if you haven't heard before then.

[2021-06-15 20:13] alecpm commented on #7
@paulrentschler It looks like the simple buildout run/upgrade step wasn't sufficient to rebuild the JS. I did it manually in the resource registry controlpanel and it seems to be working now. I'm going to take a quick look to see why the override I added didn't work with a simple upgrade step.

[2021-06-15 20:14] skleinfeldt commented on #13
Keeping it open and in Client Review is fine.

[2021-06-15 20:46] alecpm commented on #6
It might make sense to remove the `normalize.plone.less` entirely as we have with other barceloneta styles. I'll see what impact that has.

[2021-06-15 21:25] alecpm commented on #6
Removing the plone normalize seems to have resolved this without any obvious unintended side effects, which makes sense since Bootstrap 4's `_reboot.scss` essentially takes care of that stuff. You should see the correct header size after you update and restart the instances.

[2021-06-15 21:46] alecpm commented on #26
@paulrentschler I just pushed CSS fixes for both the related items selection and the mosaic modal visibility. You should see them if you run buildout and then either restart or update the theme from the theme control panel.

[2021-06-15 22:35] alecpm commented on #18
I don't believe there are any good CSS hooks for detecting local vs acquired portlets, however it should be possible to move the navigation portlet to the bottom of the stack whenever it's at the top. Not sure whether that solves the problem though.

[2021-06-15 22:38] alecpm commented on #22
@paulrentschler There's a control panel setting for that (a few of them actually):

https://beta.equity.psu.edu/web/@@site-controlpanel#form-widgets-no_thumbs_portlet

[2021-06-15 23:29] alecpm commented on #7
@paulrentschler I've fixed the underlying issue related to the JS overrides, so let me know when the next deploy is completed and I'll undo the TTW customization.

[2021-06-16 00:49] paulrentschler commented on #22
@alecpm that's a cool control panel that definitely did not have all those cool options in Plone 4. Unfortunately, I selected the "No thumbs in summary views" option and when loading the Offices page got a traceback:

[code]

[2021-06-16 01:06] alecpm commented on #22
Apparently, this is a very old issue:

https://github.com/plone/plone.app.contenttypes/issues/486

I'll make a quick PR and we'll see what happens.

[2021-06-16 01:18] alecpm commented on #22
Since @witekdev made a custom version of this view I was able to fix the bug in your custom version of the template. It should be resolved once you run buildout (and maybe restart). I still plan to make a PR, but there's no need to wait for it in this case.

[2021-06-16 12:13] witekdev commented on #15
Sorry I misread this

I read it as the office landing page (vs pages), and explicitly added the override of the /offices page.

I've now added the override to be applied to ``` .section-offices .template-document_view ```, however if that doesnt work or if the office folder view is customized to use another display view, it might be required to revisit this again in the future.
eg: https://beta.eq

[2021-06-16 12:26] paulrentschler commented on #6
I might have found a side effect... all of the editing bar and site setup icons are broken:
![image](https://user-images.githubusercontent.com/1778602/122218524-89e9ce80-ce7c-11eb-9a71-17a3cc102a29.png)

[2021-06-16 12:27] paulrentschler commented on #7
@alecpm code has been deployed.

[2021-06-16 15:05] alecpm commented on #6
@paulrentschler the icon font issue should be fixed once I remove the TTW resource registry update that was needed to fix the mobile nav for #7

[2021-06-16 17:37] witekdev commented on #15
``` .section-offices .template-document_view ``` customization removed. Updated on master

[2021-06-16 19:11] paulrentschler commented on #20
The Plone `hiddenStructure` CSS class is used in the `event_view` but it looks like that CSS was removed.

[2021-06-16 20:18] paulrentschler commented on #20
This is a **VERY ROUGH** sketch of what we are thinking. The proportions of things are almost definitely off because we copy/pasted things we liked from various sources to make this Frankenstein (see Specifics below).

![event](https://user-images.githubusercontent.com/1778602/122285886-406da380-cebd-11eb-9a54-467b44ffb4a1.png)

## Specifics:

- The title and summary should be the standard styling

[2021-06-16 20:27] MBrahosky commented on #20
Similarly, the events listing would appear like this and include the square image crop (220x220) as a lead image. https://agsci.psu.edu/alumni/events

[2021-06-17 14:19] silviot commented on #23
@paulrentschler This is now merged to master and ready for deployment/review.

[2021-06-17 17:34] paulrentschler commented on #7
One remaining issue with the responsive menu; at a device width of 768px the hero image is displayed and should be hidden when the menu is expanded, then displayed again when the menu is closed. This took a little work to make function correctly in the mockup code, but a working example is there. I think I added custom Bootstrap event handlers to slide the hero image up and down.

[2021-06-17 17:37] alecpm commented on #7
@paulrentschler That seems like something we should tackle once we have clearer guidance on the hero images via story #11. Doesn't sound too tricky, but I worry a bit we'll end up needing to implementing it twice.

[2021-06-17 17:47] witekdev commented on #28
@paulrentschler I've pushed this to master. It should be looking pretty decent, baring the responsive/breakpoints work that will come later.

There is one issue that I'm aware of that may or may not apply, namely in the case where text descriptions are of various lengths, the tile heights might vary in a 3 or 2 column layout. With the current mosaic html classes, I didn't see an easy way to custom

[2021-06-17 18:01] paulrentschler commented on #21
I deployed the latest master branch but did not see any upgrade steps and I'm not seeing any new control panels in Site Setup (I could have missed it though). Where should I be looking to be able to edit the Alert Banner?

[2021-06-17 18:06] paulrentschler opened #45 "Custom Folder Summary w/Images View"
As a user I can see the contents of a folder displayed in "Summary View" using title and text styles consistent with the rest of the site and the lead image displayed to the left of the title and description. Each entry should have a drop shadow to separate it from the others.

This view will be chosen by content editors when it is known that all content items have a lead image.

We are using this

[2021-06-17 18:09] skleinfeldt commented on #45
@paulrentschler Can you please specify the image crop that should be used for this view? Remember about plone.app.imagecropping and your ability to define specific crops #25. We've defined Hero, Tile, and Square crops so far, hopefully one of those will do?

[2021-06-17 18:12] skleinfeldt commented on #45
Also, we should probably call this "Summary View with Images" to be clear, yes?

[2021-06-17 18:35] paulrentschler commented on #7
@alecpm that sounds like a plan.

[2021-06-17 18:44] MBrahosky commented on #45
@skleinfeldt the image crop could be the same as the square image already defined. The 220x220 image crop.

[2021-06-17 18:45] paulrentschler commented on #45
And yes "Summary View with Images" is perfect

[2021-06-17 19:27] paulrentschler commented on #23
We are concerned that the large gap between the description and the "Located in" line makes it look like the "Located in" belongs to the next item in the list along with the titles getting lost on the page. We are thinking something more like this:
![image](https://user-images.githubusercontent.com/1778602/122460506-31035e80-cf80-11eb-8728-99c6ef19987c.png)

The changes I made to get that were:
-

[2021-06-17 19:45] paulrentschler commented on #19
This does need to be styled as it does not match the other portlets. I have created two example portlets on the [About page](https://beta.equity.psu.edu/web/about/about).

We want it to look more like this:
![image](https://user-images.githubusercontent.com/1778602/122462510-ac660f80-cf82-11eb-806d-64c40230b8ef.png)

## Changes
- Update the header styling so the font is `1.5rem` which matches what

[2021-06-17 19:49] paulrentschler commented on #18
We are going to leave this as is and use Plone to block parent portlets and recreate as necessary.

[2021-06-17 21:20] silviot commented on #23
@paulrentschler I applied the fixes. I used CSS to make the `span`s look like `h3`s. it's less work on my end if that's acceptable.
This is how it looks now on `master`:
![Screenshot from 2021-06-17 23-17-15](https://user-images.githubusercontent.com/396425/122473736-8a8c7d00-cfc2-11eb-9701-690101888eed.png)

[2021-06-18 14:54] silviot commented on #20
The layout part should be complete in the `story/20-event-style` branch:
![Screenshot from 2021-06-18 16-47-55](https://user-images.githubusercontent.com/396425/122579429-2ebf0400-d055-11eb-918f-c32d8394eec0.png)

As I pasted this I noticed it still needs a couple of tweaks to properly vertically align the image and content to the description and footer.

The links under "Subscribe" don't work yet

[2021-06-18 15:03] paulrentschler commented on #23
@silviot new styling looks good! No problem with not using H3s. The color changes for the `a` and `.discreet` elements need to be applied site-wide though as the color contrast with the white background is an accessibility issue.

[2021-06-18 15:06] witekdev commented on #27
This has been implemented. Requires the theme package to be upgraded to version 1007

The tile is called "Alert" (it sounded better than "Bell" in terms of describing what its supposed to do).
It is available from the Advanced menu, sometimes one has to scroll a bit in the Mosaic Layout editor "Insert" Menu:
ie:

![Screenshot from 2021-06-18 09-47-48](https://user-images.githubusercontent.com/8836

[2021-06-18 15:13] silviot commented on #23
@paulrentschler gotcha! I pushed a commit to `master` to change the `a` and `.discreet` colors site-wide.

[2021-06-18 17:39] alecpm commented on #29
We should be able to use the tesserae "Collection Summary" tile, which uses the same summary view markup and styling for each item from the collection. We'll probably need to customize the flex box styling within the a bit tile to define the column/row layout of items within the tile.

[2021-06-18 17:50] skleinfeldt commented on #2
I think we're all decided that we don't need Jazkarta to create this HTML/CSS mockup, so closing this.

[2021-06-18 17:50] #2 closed

[2021-06-18 17:52] skleinfeldt commented on #14
We will very likely use Mosaic layouts for this. which could be different for every office or a layout could be saved and reused on every office. I'll keep this story open for now, but pretty sure we don't need it.

[2021-06-18 19:50] witekdev commented on #19
@paulrentschler implemented, on master.

I went with a left margin of 30px, looks like this and lines up better with the other portlet margins in case you end up having nav and static portlet on the same page:

![Screenshot from 2021-06-18 14-40-54](https://user-images.githubusercontent.com/883619/122609911-0d730d80-d07f-11eb-9667-4ceb39886da2.jpg)

by contrast 15px left margin looks like this (if

[2021-06-24 16:56] silviot commented on #20
The G is now a link to Google Calendar, and the calendar icon produces an iCal file (the usual Plone way)

@paulrentschler I merged this work to `master`, so it's ready to be deployed.

[2021-06-24 19:17] paulrentschler commented on #20
@silviot the event styling looks good. While in no way your fault, I'm not thrilled with how the date/time/location turned out at the top. This is a result of my copying and pasting in an image program with no good concept of proportions. Your implementation of what I put in the mock up is spot-on.

Mike is on vacation till tomorrow (Friday). I want to consult with him on the date/time/location in

[2021-06-24 19:28] silviot commented on #20
@paulrentschler Good point. I changed them from `col-4` to `col-md`.

[2021-06-24 19:29] paulrentschler commented on #27
@MBrahosky I created https://beta.equity.psu.edu/web/not-home to test this feature.

[2021-06-24 19:44] paulrentschler commented on #28
@witekdev what am I selecting from the insert menu to use this? I tried Existing Content and Collection Summary neither of which worked. I also tried Content Summary which is likely it.

I have 2 Content Summary tiles and an Existing Content tile on this page: https://beta.equity.psu.edu/web/not-home

[2021-06-24 19:53] witekdev commented on #28
@paulrentschler its the "Content Summary" tile, correct.
That page looks more or less good, except the images on the pieces of content are not quite big enough likely?

[2021-06-24 19:56] paulrentschler commented on #28
@witekdev okay and yes the images I used were pretty small (too small to apply the cropping to them) so the issue is likely on my end. Thanks.

[2021-06-24 20:00] paulrentschler commented on #28
Yep, bigger images did the trick. Now it looks like the original mock ups.

[2021-06-25 16:25] MBrahosky commented on #27
@paulrentschler Looks good Paul!

[2021-06-25 19:33] paulrentschler commented on #20
Mike and I discussed this and have some tweaks. The content item in the beta site we've been looking at is this one: https://beta.equity.psu.edu/web/offices/sdr/diversability/events/guest-speaker-dr-jane-brown and I added a lead image to be able to see what it would look like.

1. We want to bring the date/time/location line up above the body text so that it can span the entire width. I mocked thi

[2021-06-25 19:37] paulrentschler commented on #27
We would like the bell icon to appear "in it's own column" so that the text is not wrapped around it. Thus how the red one appears, not the blue one.
![image](https://user-images.githubusercontent.com/1778602/123476875-45240d00-d5cb-11eb-99f7-c059f56996a9.png)

Also not sure if Mosaic will allow for this, but is it possible to have publication and expiration dates for these? If it is easy, we woul

[2021-06-25 19:48] paulrentschler commented on #28
These tiles are behaving as expected at different responsive breakpoints with the only issue being the one Witek raised earlier about the boxes not being the same height in a multi-column layout. That is definitely an issue that will need to be resolved.

Also, I noticed that if I expire the item that the tile is connected, I get an error:
![image](https://user-images.githubusercontent.com/1778602

[2021-06-25 20:01] witekdev commented on #27
@paulrentschler :+1: to bell styling, ill get that fixed up.

Regarding publication and expiration dates, are you implying something like Silvio created for the Banner panel?
Or do you want to display extra information on the tile itself?

[2021-06-25 20:57] paulrentschler commented on #27
@witekdev yes, like what Silvio created for the Banner panel.

[2021-06-28 16:43] witekdev commented on #27
I've updated the alert tile styling, on master.

Regarding the date range, it looks to be possible. However, I just ran into an issue with Datetime widget and mosaic modal,
https://github.com/PSUEducationalEquity/plonetheme.eeq/pull/48
Hoping maybe @alecpm will have an idea how to proceed though :crossed_fingers:

[2021-06-30 14:09] witekdev commented on #27
@paulrentschler this has been pushed to master. You now have 3 extra fields available on the tile:

![tile](https://user-images.githubusercontent.com/883619/123974113-a88faf80-d9bc-11eb-86ec-4d94a782f975.jpg)

If the functionality is enabled, the tile will appear

To help with the editing, if the tile is expired/inactive, it will appear with a grayed out background in the mosaic layout edit mode (

[2021-07-01 15:39] paulrentschler commented on #27
@witekdev Mike and I reviewed the updates and love the grayed out background for expired/inactive tiles! Is the "Use data range" checkbox absolutely necessary since forgetting to check it means that the dates are ignored?

[2021-07-01 16:56] witekdev commented on #27
We can do away with "Use data range" sure, it's just a hard "ON/OFF" switch for the dates, however since you also have the option of not filling in the dates if you want the tile to be permanently on. We can get rid of this checkbox.
Please confirm if you would like that, and I'll make the change :+1:

[2021-07-01 17:04] MBrahosky commented on #27
@witekdev I'll defer to Paul, but given we most likely will have additional content editors on the site, it may be best to eliminate confusion and remove the the checkbox.

[2021-07-01 17:27] paulrentschler commented on #27
@witekdev yes, since it is not critical to the implementation, let's get rid of the checkbox. Thanks!

[2021-07-01 18:46] witekdev commented on #27
@paulrentschler on master

[2021-07-01 18:54] witekdev commented on #27
ps. looks like there's a new version of a security fix
Products.PloneHotfix20210518 = 1.5
also updated on master

[2021-07-02 10:51] silviot commented on #20
@paulrentschler I did the requested changes on the event view.

I kept the `<ul>` and `<li>` semantics and only applyed styling to them using the bootstrap classes.

To prevent cropping on the lead image I made it shrink when needed, so it might be less than 250px wide in some situations. I hope it's ok.

All other requests should be good to go.

[2021-07-19 13:41] paulrentschler commented on #20
@silviot this all looks great! Only one small change. Can we reformat the time to use 12-hour format with a.m. and p.m. values? So "19:00" becomes "7:00 p.m." and "09:00" becomes "9:00 a.m."

Thanks!

[2021-07-22 10:33] silviot commented on #20
@paulrentschler Sure! I should have thought of that. It's now fixed.

[2022-01-05 23:59] paulrentschler commented on #13
This means all the functional requirements we set out for it.

One last question for discussion... I see how we can insert the facebook_url, etc. fields into the Mosaic layout but what is really desired is to display a Facebook icon that links to the facebook_url value. Implementing this does not have to be part of the project, but a little guidance on how best to implement this later would be app

[2022-01-07 20:49] skleinfeldt commented on #13
@paulrentschler did you mean to say it meets the functional requirements?

Can you make a new issue about the the Facebook etc. icons? We can discuss how best to approach this in our planning meeting Monday.

[2022-01-10 15:36] #14 closed

[2022-01-10 18:51] paulrentschler commented on #12
I think most or all of this is already implemented.

[2022-01-10 18:54] paulrentschler commented on #11
If a page does not have a lead image, it should use acquisition to use the lead image on the first parent folder that has one. If a lead image is still not found, then no hero image gets rendered on the page.

[2022-01-10 19:02] paulrentschler commented on #10
Here is our proposal for this:
The office content object will contain a Collection with short name "audience-nav". That collection will in turn define all the times, and the order of the items, to be rendered in this right side, audience-specific navigation bar.
Discuss as needed.

[2022-01-10 19:04] paulrentschler commented on #9
In the mockups, the name of the office and the left-side navigation (light blue bar) are included in the hamburger menu that is available to smaller devices.

[2022-01-10 19:05] paulrentschler commented on #9
This appears to all be implemented but a bit of discussion and confirmation from others is warranted.

[2022-01-10 19:29] paulrentschler opened #50 "Displaying social media icons for Office content type"
Office content types include fields for the various social media urls (e.g., facebook_url, twitter_url, etc.) and these fields can be inserted into the Mosaic layout but what is really desired is to display a social media icon that links to the social media url field if the field is not blank (e.g., Facebook icon that links to the facebook_url value).

Implementing this does not have to be part of

[2022-01-10 20:27] skleinfeldt commented on #28
Needs work: keeping ties within a row to the same height.

[2022-01-10 20:34] skleinfeldt commented on #10
@paulrentschler Collections can only order things by date or alphabetically, not by an arbitrary, hand picked order. Will this be enough? Whereas if the audience-nav links were in a special Folder, you could drag and drop them into any order.

Will the audience-nav items all be on the site, or will it be a mix of internal and external links?

I wonder if this should just be a multi-line field on t

[2022-01-11 17:44] skleinfeldt commented on #28
@alecpm when you review the PR please adjust the image cropping settings to turn on auto cropping for the custom crop sizes.

[2022-01-11 17:54] paulrentschler commented on #10
The items will "always" be internal folders or pages.

I am intrigued by the multi-line field on the Office object idea? What would that look like? Would it work like the related items field? How would ordering be handled?

[2022-01-11 17:55] skleinfeldt commented on #28
@alecpm will also adjust the image crop sizes based on the new aspect ratios @ will provide on #25.

[2022-01-11 17:59] skleinfeldt commented on #30
@paulrentschler is there anything else to this ticket aside from 1) defined above? We had thought there was a second scenario to cover.

[2022-01-11 18:14] MBrahosky commented on #25
Per standup meeting today, "updated" image cropping is as follows:

Hero Image = 1900 x 275 pixels @72 pixels resolution
Office Tile = 396 x 32 pixels @72 pixels resolution (Narrow strips on main landing page for each office.)
Content Tile = 335 x 200 pixels @72 pixels resolution (News images and features.)

[2022-01-11 18:21] silviot commented on #30
@paulrentschler @MBrahosky [I created a page to support this discussion](https://beta.equity.psu.edu/web/test-tile-page).
I applied the row format "Responsive Drop Last" to the rows with three and two tiles.
Do I understand correctly that a new "Responsive Grey/Drop Last" should be created to also changes the background color of the last tile to grey?

[In the mockup](https://beta.equity.psu.edu/a

[2022-01-11 18:23] alecpm commented on #25
@MBrahosky Looks like Office tile is a new crop and there's no longer a square crop that you're concerned with.

[2022-01-11 18:31] MBrahosky commented on #25
@alecpm Actually, let's keep the square image crop as well. Paul believes this had another purpose.

[2022-01-11 20:04] alecpm commented on #30
@paulrentschler In the existing theme that right column is already a portlet manager with a grey background. I think we need to just understand the contexts in which we hide the right column portlet manager on mobile. Should we always do that, or just on some sections/pages?

[2022-01-11 20:22] alecpm commented on #25
@MBrahosky OK, I've updated the crops in the package profile and on the site. @paulrentschler If you could run an update on the site I think we can see the crops and the working implementation of #28 as well.

[2022-01-11 22:45] skleinfeldt commented on #10
@alecpm should chime in about whether this is feasible, but I was thinking about a multiline widget where you enter maybe just a list of URLs of the items and you put them in the order you want?

[2022-01-11 22:49] alecpm commented on #10
I would think this would either be a related items type widget if these are site internal links (though you could include `Link` content which will redirect to external links), or a data grid field with rows of title/url pairs.

[2022-01-11 22:54] skleinfeldt commented on #10
I like the related items idea, assuming they are not needed for anything else.

[2022-01-11 23:46] alecpm commented on #10
I didn't mean the actual related items field (though I guess we could use that) I mean a new field that uses the same widget (which is confusingly called the "Related Items Widget").

[2022-01-12 14:55] skleinfeldt commented on #10
Ah sorry, yes of course...

[2022-01-12 17:41] silviot commented on #11
Only folders and offices should show their lead image as full bleed hero.
The acquisition chain shuold be walked up until a folder with a lead image is found.

[2022-01-13 09:37] silviot commented on #28
The current behavior is OK, so this does not require additional work.

[2022-01-13 13:53] silviot commented on #29
@paulrentschler I merged the work on this and a bunch of other tickets (#9, #10, #11 and #12) to `master`. It would be awesome if you could deploy them (a `git pull` and instance restart should be enough) before today's standup.

[2022-01-13 16:04] paulrentschler opened #55 "Make hero title an H1 on the office home page"
For things like the office home page layout we want the ability to add the "title" to the page but keep it visually hidden yet available to screen readers (e.g., the CSS hiddenStructure class)

[2022-01-13 16:06] paulrentschler commented on #12
On the main office page we are not seeing the office hero image, we are still seeing the original hero image (group photo of students).

[2022-01-13 16:09] paulrentschler commented on #11
We are still seeing a thin opaque white bar and a thin light blue bar on non-office pages.
![image](https://user-images.githubusercontent.com/1778602/149366295-954458ba-49aa-4daf-bd01-c1e947247863.png)

[2022-01-13 18:01] silviot commented on #10
The office link bar does not show in case no right hand links are defined.

[2022-01-13 18:09] alecpm commented on #55
@paulrentschler I think this might be best done using a simple Rich Text Tile, with either the hidden structure class added to the WYSIWYG format menu (if it's not already there) or using the source editor in the WYSIWYG. The title element can always be removed from a customized layout and a customized H1 placed in the body or other rich text tile with custom styling.

[2022-01-13 18:14] alecpm commented on #50
Based on our discussions this is probably best achieved using a custom portlet. The portlet would need to do the following:

[ ] Either find the nearest office or use implicit attribute acquisition to determine which social media fields are available on the context
[ ] Do not render at all if there are no social media fields set (e.g. the `available` property on the portlet assignment would return

[2022-01-13 20:12] paulrentschler commented on #55
@alecpm I am concerned with that approach in that we might wind up with an office title that does not match what we have entered into the Rich Text Tile since I am assuming there is no way to insert variables into the Rich Text Tile.

Having some more time to consider this, what we were really after was a way to have the name of the office appear on the office home page for screen readers as an H1

[2022-01-13 20:36] MBrahosky commented on #55
The height for the Mosaic content summary tile is not aligning with other tiles.
(see example.) https://beta.equity.psu.edu/web/home

[2022-01-13 20:38] MBrahosky commented on #28
Height The height for the Mosaic content summary tile is not aligning with other tiles.
(see example.) https://beta.equity.psu.edu/web/home

[2022-01-13 21:35] paulrentschler commented on #29
I created a [collection of news items](https://beta.equity.psu.edu/web/offices/student-disability-resources/news/news) and then added a Collection Summary Tile to the [SDR home page](https://beta.equity.psu.edu/web/offices/student-disability-resources) but there are a few issues:
![image](https://user-images.githubusercontent.com/1778602/149412535-48e5de41-5114-4e61-9736-1a8e7dfe882e.png)

1. Do n

[2022-01-13 22:01] alecpm commented on #28
@MBrahosky for rows where you want the tile heights to expand to fill the full column, you need to select the "Equal Height Tiles" Row format from the Format menu in the mosaic edit view after selecting a tile from the row. I've done that for both of the rows in the page above. I think maybe the row format should be called "Equal height columns" because that's actually what it ends up doing (thoug

[2022-01-13 22:44] paulrentschler commented on #9
Exclude from Navigation and Private state are working correctly but expired and future effective dates are not respected in what is shown in the left-side nav bar. I have created items for the [SDR nav bar](https://beta.equity.psu.edu/web/offices/student-disability-resources) called "Old", "Private", and "Coming Soon" which are expired, private, and future effective date respectively. "Old" and "C

[2022-01-13 22:46] paulrentschler commented on #10
@silviot I deployed this around 4pm EST and it resolved the issue of the office name and left-side nav not showing up until right-side nav items were defined.

[2022-01-13 22:48] paulrentschler commented on #28
@alecpm excellent. Did not realize there was a format that we needed to apply. This looks good to me but I will let @MBrahosky weigh in as well.

[2022-01-14 09:17] silviot commented on #9
@paulrentschler Now [the effective dates should be taken into account](https://github.com/PSUEducationalEquity/plonetheme.eeq/commit/e07af8c4998bab0cf83b85aeea7a952796f38872) and there should always be [a left 'Home' link on all office pages](https://github.com/PSUEducationalEquity/plonetheme.eeq/commit/297376fa9ca63128b728d084f312f90b7e84ce8d).

[2022-01-14 09:29] silviot commented on #12
This seems to work now. @paulrentschler Is there anything left to do on this story?

[2022-01-14 09:37] silviot commented on #11
@paulrentschler The two elements [should now be hidden for non-office pages](https://github.com/PSUEducationalEquity/plonetheme.eeq/commit/2387d563cdc2e9a6adcf91e16be5f48b13466d77).

[2022-01-14 11:26] silviot commented on #29
@paulrentschler I fixed the issues mentioned, except for `1.` that can be solved by unticking `Show collection title` in the tile edit dialog:
![image](https://user-images.githubusercontent.com/396425/149506950-8838f826-3738-4aa2-827a-820ae6b31462.png)
I changed the linked office already.

[2022-01-14 13:23] MBrahosky commented on #28
@alecpm This looks good to me. (Obliviously, the content will be abbreviated for each office in an effort to keep some uniformity within the columns.) But, the "Equal height columns" is what we were aiming for. Excellent.

[2022-01-14 13:24] paulrentschler commented on #29
@silviot Unticking `Show collection title` does get rid of the `View All` link but it also gets rid of the `News` title which we would like to keep. If hiding the `View All` with a CSS rule is an easy fix, I am okay with that.

[2022-01-14 13:26] paulrentschler commented on #30
In reviewing the site, I could not find any situations where we needed additional breakpoints for the Mosaic grid.

[2022-01-14 13:34] silviot commented on #29
@paulrentschler Right! I didn't think about the title which would go missing.
[I added a CSS rule](https://github.com/PSUEducationalEquity/plonetheme.eeq/commit/4845411ea6c8377b798f9bb7463d8b90ecb67a73) to hide the `View all` link.

[2022-01-14 13:54] paulrentschler commented on #29
@silviot no worries. I deployed the changes prior to that CSS rule and I am still not seeing the images and the titles still link to the news collection rather than the individual news items.

Titles should be left justified, not centered and we need some padding between the tiles.

[2022-01-14 14:10] silviot commented on #45
@paulrentschler I added a new `Summary View with Images` view. To see it you'll need to pull in the latest code and uninstall/reinstall the `plonetheme.eeq` product on https://beta.equity.psu.edu/web/prefs_install_products_form

[2022-01-14 14:20] silviot commented on #29
@paulrentschler These issues shoudl  be fixed now in `master`.

[2022-01-14 19:18] paulrentschler commented on #29
The title and summary text is `justified` and we want it to be `left justified`.

[2022-01-14 20:03] paulrentschler commented on #45
[Example page we are looking at](https://beta.equity.psu.edu/web/about/awards)

## Tweaks:

* remove the `Read More` section
* the object title is an H3 in the AgSci site, not sure if that makes sense for us but that text should appear slightly larger than the summary text and bold.
* the summary text should not be underlined on hover (seeing this in Firefox not Chrome)
* in Chrome nothing gets un

[2022-01-14 20:09] paulrentschler commented on #9
This should only be considered after #55 has been implemented along with all other tweaks if there is still time remaining on the contract.

Mike and I discussed not liking that there are three instances of "Home" all down the left side of the header and they do not all link to the same thing:
![image](https://user-images.githubusercontent.com/1778602/149578380-ed34a96c-f632-4455-be43-ed7689066f87

[2022-01-14 20:19] alecpm commented on #55
@paulrentschler This is pushed to master, please deploy to the server at your convenience.

[2022-01-15 00:15] alecpm commented on #50
@paulrentschler This is implemented on master. You should be able to pull the changes in, run buildout to compile the theme, restart the instances, and then run the upgrade step from the Add-on control panel to see the new portlet in Office content when social media fields are filled in.

[2022-01-17 13:21] paulrentschler commented on #50
@alecpm I pulled, ran buildout, and restarted the instances but there is no upgrade step in the Add-on control panel.

[2022-01-17 21:30] alecpm commented on #50
Odd, I manually ran the upgrade step from the portal_setup ZMI. The icons are showing up now:

https://beta.equity.psu.edu/web/offices/student-disability-resources

[2022-01-18 19:14] MBrahosky commented on #28
![break-point-fix](https://user-images.githubusercontent.com/7536857/150003283-e70c387b-c64e-4059-9db7-9936ee74ccfc.png)

Break point needs to be corrected. (See screen image.) Paul suggests a possible CSS rule may have been deleted in this story.

[2022-01-18 19:22] alecpm commented on #28
Because the equal height column config now uses flex box it's not changing the column layout based on breakpoint. It looks like changing the `.mosaic-grid-row.mosaic-row-equal-height` styling from `flex-wrap: nowrap` to `flex-wrap: wrap` fixes the issue while retaining the equal heights. I'll get that corrected.

[2022-01-20 13:21] silviot commented on #29
Right! I realized I've been interpreting the word _justified_ wrong my whole life. [I pushed a fix](https://github.com/PSUEducationalEquity/plonetheme.eeq/commit/4af1775738703650fd8381d8f755a717e25e587a).

[2022-01-20 15:23] silviot commented on #45
@paulrentschler [Done](https://github.com/PSUEducationalEquity/plonetheme.eeq/commit/729880d098b2a13163dadc96e490ba5bcb14eaaa).

[2022-01-21 10:56] silviot commented on #9
@paulrentschler I [customized the `path_bar.pt`](https://github.com/PSUEducationalEquity/plonetheme.eeq/commit/0359e3abf6f285310ba1b0d7b2ea782cb039b118) template and [changed it to spell `Educational Equity` instead of `Home`](https://github.com/PSUEducationalEquity/plonetheme.eeq/commit/e1658d912c69e85e44439407725cca015bda0280).

[The office type now has](https://github.com/PSUEducationalEquity/p

[2022-01-21 15:56] paulrentschler commented on #45
@silviot these changes all look great.

Is it possible to get this "Folder Summary with Images" view available on collections as well?

[2022-01-21 15:57] paulrentschler commented on #29
The left justified text looks good now. Upon further testing, we noticed that the two columns do not collapse down into a single column on small devices. I suspect this might be related to the same issue with #28

[2022-01-21 16:05] silviot commented on #45
@paulrentschler I think I understand: that menu item I was referring to controls the view of the container of the collection.

[2022-01-21 16:28] paulrentschler commented on #45
@silviot Yes, I think you have it now. If the folder has a collection as its default view like [this page](https://beta.equity.psu.edu/web/offices/student-disability-resources/events) the display menu looks like this:
![image](https://user-images.githubusercontent.com/1778602/150563781-0dd458a8-98e1-4eb9-b67f-560b4553e72e.png)

[2022-01-21 16:35] silviot commented on #45
@paulrentschler I'm surprised it does not show up: it did for me locally when I added [this ZCML directive](https://github.com/PSUEducationalEquity/plonetheme.eeq/blob/master/src/plonetheme/eeq/browser/configure.zcml#L86-L94).
I [added a directive to the profile](https://github.com/PSUEducationalEquity/plonetheme.eeq/commit/9ddd1e5497bff24890e8036dc5055956c895861c) to make it the same as the (work

[2022-01-22 21:29] paulrentschler commented on #45
@silviot I did the usual git pull, buildout, restart with no success. Then I uninstalled and reinstalled the plonetheme.eeq add on and that resolved the issue. The view is now available for collections.

[2022-02-04 22:45] alecpm commented on #28
@paulrentschler I've pushed an update to the add-on that provides the equal height tile format, you'll need to re-run buildout (and maybe `bin/develop up`) and restart the instances to get the correct behavior. If you have a proxy cache in front of it, you may need to clear the cache to get fresh CSS for the add-on.

[2022-02-04 22:47] alecpm commented on #29
I'm seeing the two columns collapse now, even though the fix for 28 is not yet deployed. Was the equal height tile format applied and then removed on this?

[2022-02-04 23:14] skleinfeldt opened #57 "Minor security issue - update cache settings"
Update cache settings to prevent image_view_fullscreen cache poisoning:
https://community.plone.org/t/security-fix-for-image-view-fullscreen-cache-poisoning/14757

[2022-02-10 13:42] paulrentschler commented on #28
@alecpm I tried running Buildout and it errored out:

[code]

[2022-02-10 17:34] alecpm commented on #28
It seems like your buildout suddenly pulling in older non-python 3 compatible versions of some core packages. I'm not sure what could have caused this, but I'm fairly certain it wasn't the CSS update in `jazkarta.tesserae` that this most recent fix entailed. Do you know when the last time you successfully ran buildout and if anything might have changed since then?

It looks like it's trying to run

[2022-02-11 03:22] paulrentschler commented on #28
@alecpm thanks for jogging my memory. I'm an idiot. I ran `./bin/buildout -c develop.cfg` instead of `./bin/buildout -c deploy.cfg`. Apparently I was not thinking this morning.

It has run successfully now. The tiles seem to be working correctly as well. Mike and I plan to review everything tomorrow (Friday). Thanks!

[2022-02-11 15:13] paulrentschler commented on #29
@alecpm Mike and I am not sure if the equal height tile format was applied and then removed; the tiles are equal height now. The right side portlet column is collapsing correctly but the two news items side by side are not collapsing one underneath the other on smaller devices.
![image](https://user-images.githubusercontent.com/1778602/153617241-e1e1ca01-c183-493c-84b4-1eba9518ca51.png)

[2022-02-11 17:46] alecpm commented on #29
@paulrentschler this issue isn't related to the Equal Height styling, but is explicit in the CSS. The collection summary tile always displays tiles 2 across independent of device size or row format. It's a pretty simple fix to make them stack on mobile if you'd prefer that.

I think that independently added summary tiles (i.e. not generated from a collection) this should work as expected, the coll

[2022-02-28 17:12] MBrahosky commented on #29
@alecpm If at all possible Paul and I would like to see this changed so that the collection summary tile collapses.

[2022-03-03 03:48] alecpm commented on #29
@MBrahosky @paulrentschler I've pushed a CSS change that should make the collection summary tile collapse as expected. You'll need to pull in the changes and run buildout as usual.

[2022-03-04 13:27] paulrentschler commented on #29
@alecpm the fix looks good. Thanks.

Mike is on vacation through next week so I am going to leave this here till he gets back and can also review it.